@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/noto-sans";
@import "./theme.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
